.doboz{
    background-color: rgb(210, 125, 45);
    color: black;
    width: 500px;
    margin: auto;
}
body{
    background-color: rgb(210, 125, 45);
}

#kepek{
    width: 900px;
    margin: auto;
}
table {
    margin: auto;
    width: 900px;
}

#szin{
    background-color: rgb(210, 125, 45);
}

#betu{
    color: aliceblue;
}