.doboz{
    background-color: rgb(210, 125, 45);
    color: aliceblue;
    max-width: 500px;
    margin: auto;
    border-radius: 25px;
    padding-bottom: 10px;
    text-align: center;
    align-content: center;
}

#mellett{
    display: flex;
}

#kep{
    max-width: 450px;
    align-items: center;
    
}

#bal{
    text-align: left;
}
body{
    background-color: rgb(210, 125, 45);
}

#kepek{
    width: 900px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
}
table {
    margin: auto;
    width: 900px;
}

#szin{
    background-color: rgb(210, 125, 45);
}

#betu{
    color: aliceblue;
}

.szoveg{
    background-color:  rgb(210, 125, 45);
    border-radius: 25px;
    max-width: 1200px;
}

#kozep{
    padding-left: 500px;
}

#tabla{
    padding-bottom: 20px;
}

.parent {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }